html{
  text-align: center;
  font-family: Helvetica;

}
.Header{
  background-image: url(images/the-flatiron-building.png);
  color: white;
}

.Footer{
  background-color: dimgray;
  text-align: left;
  font-size: 11px
  color: white;
}
